# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
build/
dist/

# Virtual environments
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# IDE
.vscode/
.idea/
